/* Add Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* Main Layout */
.main_layout {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #3AAFA9;
}

/* Header */
.header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0px 20px;
    background-color: #17252A;
}
.header_text {
    color: white;
    font-size: 30px;
    font-family: "Poppins";
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
.header_measure {
    color: white;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 600;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.header_wind_direction {
    transform-origin: center;
    animation: wiggle 3s ease-in-out infinite;
}
@keyframes wiggle {
    0%   { transform: rotate(calc(var(--wind-base) - 5deg)); }
    50%  { transform: rotate(calc(var(--wind-base) + 5deg)); }
    100% { transform: rotate(calc(var(--wind-base) - 5deg)); }
}
.header_date {
    margin: 0px;
    padding: 0px;
    color: white;
    font-size: 12px;
    font-family: "Poppins";
    font-weight: 500;
    white-space: pre-line;
    text-align: center;
}

/* AQI Line Chart */
.aqi_line_chart_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    align-items: stretch;
    margin: 10px;
}
.aqi_line_chart {
    overflow: hidden;
    border-radius: 5px;
    width: 75%;
    outline: solid;
}
.aqi_info {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.aqi_reading_container {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.aqi_reading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    outline: solid;
}
.aqi_reading_heading {
    margin: 0px;
    padding: 0px;
    color: #052F5F;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 600;
}
.aqi_reading_count_actual {
    margin: 0px;
    padding: 0px;
    line-height: 40px;
    color: #052F5F;
    font-size: 40px;
    font-family: "Poppins";
    font-weight: 600;
}
.aqi_reading_subheader {
    margin: 0px;
    padding: 0px;
    color: #052F5F;
    font-size: 12px;
    font-family: "Poppins";
    font-weight: 500;
}
.aqi_reading_count_predicted {
    margin: 0px;
    padding: 0px;
    line-height: 40px;
    color: #052F5F;
    font-size: 40px;
    font-family: "Poppins";
    font-weight: 600;
}
.aqi_line_chart_legend {
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.aqi_line_chart_legend_header {
    color: white;
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 500;
    text-align: center;
    border: 2px solid black;
    background-color: #375397;
    border-radius: 5px 5px 0px 0px;
}
.aqi_line_chart_legend_item {
    padding: 0px 3%;
    height: 100%;
    color: white;
    font-family: "Poppins";
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}
.aqi_line_chart_legend_item:last-child {
    border-radius: 0px 0px 5px 5px;
}
.aqi_line_chart_legend_item b {
    font-size: 14px;
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}
.aqi_line_chart_legend_item p {
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}

/* AQI Measures */
.aqi_measure_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    height: calc(100% - 60px - 370px - 40px - 10px);
    margin: 0px 10px 10px 10px;
}
.aqi_measure {
    width: calc((100% - 70px) / 6);
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: white;
    outline: solid;
    overflow: hidden;
}
.aqi_measure_top {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
}
.aqi_measure_header {
    color: black;
    font-size: 16px;
    font-family: "Poppins";
    font-weight: 600;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
.aqi_measure_flag {
    color: white;
    font-size: 14px;
    font-family: "Poppins";
    font-weight: 600;
    background-color: red;
    width: 100%;
    text-align: center;
}
.aqi_measure_gauge_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aqi_measure_gauge circle {
    stroke-width: 10px;
}
.aqi_measure_gauge circle.needle-knob {
    stroke: #007eff !important;
}
.aqi_measure_gauge line {
    stroke: black !important;
}
.aqi_measure_gauge label {
    font-size: 12px;
    text-transform: none;
}
.aqi_measure_gauge svg {
    height: 100%;
    width: auto;
    max-height: 180px !important;
}
.sc-gZMcBi.jjZFEi > div {
    color: #052F5F !important;
}


/* Footer */
.footer {
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #17252A;
    margin: 0px;
    padding: 0px;
}
.footer_text {
    color: white;
    font-size: 15px;
    font-family: "Poppins";
    font-weight: 500;
    margin: 0px;
    padding: 0px;
}